<div class="container nudge-down">

    <h6 class="call-to-action">Become A Matchmaker!</h6>
    <%= form_for @matchmaker, :url => url_for(:controller => "matchmakers", :action => "create") do |f| %>
      <%= f.label :username %>
      <input <%= f.text_field :username, :placeholder => "User Name", :class => "username"%> <br>

      <%= f.label :password %>
      <input <%= f.text_field :password, :placeholder=>"Password"%> <br>

      <%= f.submit("Create Matchmaker's Account") %>
    <% end %>

</div>
