<!DOCTYPE html>
<html>
  <head>
    <title>MeetMyFriendSofia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_matchmaker %>
      <%= "Welcome, #{current_matchmaker.username}"%>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% elsif flash[:notice] %>
      <%= "#{flash[:notice]}"%>
    <% elsif flash[:password_error] %>
      <%= "#{flash[:password_error]}"%>
    <% end %>
    <%= yield %>
  </body>
</html>
